<div class="test">
  <div class="bulle" *ngIf="bulle" (click)="scrollToTop()">
    <p>20 : 00</p>
  </div>
  <div class="all">
    <div class="temps">
      <p> 20 : 00 </p>
    </div>
    <article>
      <div class="questions" *ngFor="let question of questions">
        <div class="intitule">
          <span>Question {{question.numero}}:</span> {{question.libelle}}
        </div>

        <br>
        <div class="code"></div>

        <br>
        <div class="checkboxes">
          <div class="checkbox" *ngFor="let reponse of question.reponseDto">
            <mat-checkbox color="primary" class="check">{{reponse.libelle}}</mat-checkbox>
          </div>
        </div>
      </div>
    </article>

    <br>
  </div>
</div>

<div class="button">
  <button mat-raised-button color="primary" (click)="valider()">Valider le test</button>
</div>
<br>
<br>
<footer>
  @sodifrance 2018
</footer>