.all{
    width: 600px;
    padding: 10px;
}

mat-dialog-content{
    display: grid;

    div{
        mat-form-field{
            width: 100%;
        }
    }
    .mat-checkbox{
        margin-left: 20px;
    }
    mat-checkbox:first-child{
        margin-left: 0px;
    }
}

mat-radio-button{
    margin: 10px;
  }

mat-dialog-actions{
   display: flex;

   button{
       margin: auto;
       background-color : rgb(58, 58, 221);
   }
}

