<div class="all">
  <p> Vous allez passer un test rapide de 20 min basé sur vos connaissances actuelles, vous aurez des questions à choix multiples
    et choix unique. Vous aurez la possiblités de modifier les reponses des questions auquels vous aurez dejà repondu tout
    au long du test.</p>
  <p> Veuillez entrer votre nom, prénom et demarrer le test. </p>
  <br>

  <mat-form-field>
    <input style="text-transform: uppercase;" matInput placeholder="Nom" [(ngModel)]="nom">
  </mat-form-field>

  <mat-form-field>
    <input style="text-transform: capitalize;" matInput placeholder="Prénom" [(ngModel)]="prenom">
  </mat-form-field>
  <br>
  <br>

  <div>
    <button mat-raised-button color="primary" (click)="demarrer()">Demarrer le test</button>
  </div>
</div>