.all{
    padding: 40px;

    table{
        width: 100%;
        //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        .buttons{
            display: flex;
            .button{
                text-decoration: underline; 
                color: rgb(58, 58, 221); 
                cursor: pointer;
            } 
        }
    }

    mat-paginator{
        .mat-paginator-page-size-label {
            display: none;
        }
    }

    span{
        text-decoration: underline; 
        color: rgb(58, 58, 221); 
        cursor: pointer;
    }

    mat-form-field{
        width: 100%;
    }
    button {
        background-color : rgb(58, 58, 221);
    }
}