
.all{
        padding: 40px;
        display: grid;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 200px; 

        p{
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .mat-checkbox{
            margin-left: 20px;
        }
        mat-checkbox:first-child{
            margin-left: 0px;
        }
        button{
            width: 150px;
            float: right;
            background-color : rgb(58, 58, 221);
        }
        h2{
            font-weight: normal;
        }
        table{
            text-align: center;
        }
}

footer{
    height: 30px,;
    line-height: 30px;
    text-align: center;
    background-color:  rgb(128, 123, 123);
}