
.all{
        padding: 40px;
        display: grid;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        p{
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .mat-checkbox{
            margin-left: 20px;
        }
        mat-checkbox:first-child{
            margin-left: 0px;
        }
        button{
            width: 150px;
            float: right;
            background-color : rgb(58, 58, 221);
        }
        h2{
            font-weight: normal;
        }
}