<div class="all">
  <p> Veuillez choisir le niveau d'études et le type de test que vous souhaitez demarrer.</p>
  <br>

  <mat-form-field>
    <mat-select placeholder="Niveau d'études" [(ngModel)]="niveauSelected" required>
      <mat-option (click)="checkField()" value="{{niveau.id}}" *ngFor="let niveau of niveaux">{{niveau.libelle}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type de test" [(ngModel)]="typeQuestionSelected" required>
      <mat-option (click)="onItemChange(typeQuestion)" value="{{typeQuestion.id}}" *ngFor="let typeQuestion of typeQuestions">{{typeQuestion.libelle}}</mat-option>
    </mat-select>
  </mat-form-field>

  <p *ngIf="langageAffiche"> Vous souhaitez demarrer un test technique, choississez les technologies qui seront liés à ce test.</p>

  <div *ngIf="langageAffiche">
    <mat-checkbox color="primary" (click)="selectLangage(langage.id)" *ngFor="let langage of langages">{{langage.libelle}}</mat-checkbox>
  </div>
  <br>

  <div class="buttons">
    <button mat-raised-button color="primary" [disabled]="!buttonSuivant" (click)="suivant()">Suivant</button>
  </div>
  <br>

  <h2> Tableau de bord des questions</h2>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="niveaux">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Niveaux </th>
        <td mat-cell *matCellDef="let row"> {{row.libelleNiveau}} </td>
      </ng-container>

      <ng-container matColumnDef="questionV">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Questions validées </th>
        <td mat-cell *matCellDef="let row"> {{row.resumeQuestionDto.nbQuestionValidee}} </td>
      </ng-container>

      <ng-container matColumnDef="questionN">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Questions non validées </th>
        <td mat-cell *matCellDef="let row"> {{row.resumeQuestionDto.nbQuestionNonValidee}} </td>
      </ng-container>

      <ng-container matColumnDef="questionT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Questions disponibles pour un test technique </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.resumeQuestionDto.nbQuestionTechinque}} </td>
      </ng-container>

      <ng-container matColumnDef="questionL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Questions disponibles pour un test logique </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.resumeQuestionDto.nbQuestionLogique}} </td>
      </ng-container>

      <ng-container matColumnDef="questionA">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Questions disponibles pour un test anglais </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.resumeQuestionDto.nbQuestionAnglais}} </td>
      </ng-container>

      <ng-container matColumnDef="questionF">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Questions disponibles pour un test français </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.resumeQuestionDto.nbQuestionFancais}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>

</div>