<div class="all">
  <p> Veuillez choisir le niveau d'études et le type de test que vous souhaitez demarrer.</p>
  <br>

  <mat-form-field>
    <mat-select placeholder="Niveau d'études">
      <mat-option value="{{niveau.id}}" *ngFor="let niveau of niveaux">{{niveau.libelle}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type de test">
      <mat-option (click)="onItemChange(typeQuestion)" value="{{typeQuestion.libelle}}" *ngFor="let typeQuestion of typeQuestions">{{typeQuestion.libelle}}</mat-option>
    </mat-select>
  </mat-form-field>

  <p *ngIf="langageAffiche"> Vous souhaitez demarrer un test technique, choississez les technologies qui seront liés à ce test.</p>

  <div *ngIf="langageAffiche">
    <mat-checkbox color="primary" *ngFor="let langage of langages">{{langage.libelle}}</mat-checkbox>
  </div>
  <br>
  <br>

  <div>
    <button mat-raised-button color="primary" (click)="suivant()">Suivant</button>
  </div>
</div>